.sidebar {
  position: fixed;
  top: 0;
  right: 0;

  width: 420px;
  height: 100vh;

  background: rgba(0, 0, 0, 0.1);

  padding: 20px;
  border-left: 1px solid #333;
  backdrop-filter: blur(10px);
}

.sidebar nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  gap: 25px;
  margin-top: 50px;
}

.sidebar a {
  color: white;
  text-decoration: none;
}

.sidebar h2 {
    color: white;
    text-decoration: none;
     margin-top: 30px;

}